<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>NEWS</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
       	<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
	</head>
	<body>
		<div class="jumbotron">
			<h1>NEWS</h1>
			<button type="button" id="scrape-button" class="btn btn-info">SCRAPE</button>
			<button type="button" id="save-button" class="btn btn-info">SAVED ARTICLES</button>
		</div>
		{{{ body }}}


		<script src="/assets/js/app.js"></script>
	</body>
</html>