<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>news scraper</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">
</head>
	<body>
		<div class="jumbotron">
			<h1>click to scrape for articles</h1>
			<button type="button" id="scrape-button" class="btn btn-info">SCRAPE</button>
			
		</div>
		{{{ body }}}
			
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>