<div class="card"> {{#each dbArticle}}
  <div class="card-body"> 
    <h5 class="card-title">{{ title }}</h5>
    <a href={{ link }} class="link">Link to Article</a>
    <p class="card-text">{{ summary }}</p>
      <button data-id="{{_id}}" type="button" class="btn btn-primary article-time">save dis </button>
  </div>
</div>
{{/each}}
