<div class="card"> {{#each dbArticle}}
  <div class="card-body"> 
    <h5 class="card-title">{{ title }}</h5>
    <a href={{ link }}>Link to Article</a>
    <p class="card-text">{{ summary }}</p>
    <a href="#" class="btn btn-primary">save dis </a>
  </div>
</div>
{{/each}}
