body {
    font-family: 'K2D', sans-serif;
}

.card-body {
    border: solid 1px black;
    background-color: gainsboro;
    margin: 10px;
    text-align: center;
    color: purple;
}

.jumbotron {
    background-color: aquamarine;
}

#scrape-button {
    background-color: rgba(172, 255, 47, 0.644);
}

#save-button {
    margin: -45px 42px 30px 215px;
}

a {
    color: whitesmoke;
}
.btn {
    background-color:rgba(42, 175, 175, 0.842);
}

.btn:hover{
    border: solid 1px plum;
    background-color: plum;
}

.del-button {
    background-color: hotpink;
    border: solid 1px hotpink;
}

#modal {
    width: 500px;
}